<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<script type="text/javascript" src="/node_modules/crypto-js/crypto-js.js"></script>

<script type="text/javascript" >
    var key_base = 'contentWindowHig';
    var iv_base = 'contentDocuments'
    var key_hash = CryptoJS.MD5(key_base).toString();
    var iv_hash = CryptoJS.MD5(iv_base).toString();
    var key = CryptoJS.enc.Utf8.parse(key_hash.substr(0,16));
    var iv = CryptoJS.enc.Utf8.parse(iv_hash.substr(0,16));
    function _decrypt(string) {
        var data = CryptoJS.AES.decrypt(string, key, {iv: iv, padding: CryptoJS.pad.Pkcs7}).toString(CryptoJS.enc.Utf8);
        return data;
    }
    function _encrypt(string) {
        var data = CryptoJS.AES.encrypt(string, key, {
            iv: iv,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7
        }).toString();
        return data;
    }
    var a = _encrypt('msgg');
    var b = _decrypt(a);
    var c= _decrypt('evD5EE8QGSWpuqzhDFaamw==')
    console.log(a);
    console.log(b);
    console.log(c);
</script>