{include file="header"}
<!--markdown css-->
    <link type="text/css" rel="stylesheet" href="/node_modules/a-markdown/css/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/node_modules/a-markdown/css/codemirror.css">
    <link type="text/css" rel="stylesheet" href="/node_modules/a-markdown/css/highlight/xcode.css">
    <link type="text/css" rel="stylesheet" href="/node_modules/a-markdown/css/amd.css">
    <link type="text/css" rel="stylesheet" href="/node_modules/a-markdown/css/markdown.css">
    <!--markdown css-->
        <!-- 内容主体区域 -->
        <div id="amd-editor" class="amd-editor"></div>
<!--markdown js-->
<script src="/node_modules/a-markdown/js/codemirror/lib/codemirror.js"></script>
<script src="/node_modules/a-markdown/js/codemirror/mode/markdown/markdown.js"></script>
<script src="/node_modules/a-markdown/js/hogan-3.0.1.min.js"></script>
<script src="/node_modules/a-markdown/js/marked-0.3.2.min.js"></script>
<script src="/node_modules/a-markdown/js/highlight-8.1.0.min.js"></script>
<script src="/node_modules/a-markdown/js/pie/pie.js"></script>
<script src="/node_modules/a-markdown/js/pie/unit.js"></script>
<script src="/node_modules/a-markdown/js/pie/amarkdown.js"></script>
<!--markdown js-->

<script>
    //markdown编辑器
    (function (PIE) {
        window.addEventListener('load', function () {
            PIE.makeAMarkdown(document.getElementById('amd-editor'), {
                imgAction: '/image',
                pubAction: '/',
                titleName: 'title',
                textName: 'text'
            });
        });
    }(PIE));
</script>
{include file="footer"}