{include file='header'}
<form name="example" method="post" action="demo.php" class="editForm">


    <!--<label ></label>-->
    <input id="title" placeholder="请输入标题" class="form-control" style="margin-bottom: 10px;"/>
    <!--文本域-->
    <textarea name="content1" class="form-control" style="width:100%;height:300px;">
            </textarea>
    <br />

    <!--文章信息-->
    <div class="form-group" style="display: flex">
        <div style="margin-right: 20px;">
            <label for="cate_name" style="display: inline-block">选择分类：</label>
            <select class="form-control" id="cate_name" style="width: 150px;display: inline-block">
                <option>php</option>
                <option>javascript</option>
                <option>python</option>
                <option>服务器</option>
                <option>正则表达式</option>
            </select>
        </div>
        <div>
            <label for="copy" style="">文章类型：</label>
            <select class="form-control" id="copy" style="width: 150px;display: inline-block">
                <option>原创</option>
                <option>转载</option>
            </select>
        </div>
    </div>

    <!--添加标签-->
    <div class="form-group">
        <label for="keywords" style="display: inline-block">文章标签：</label>
        <input type="text" class="form-control" placeholder="文本输入" id="keywords" style="width: auto;display: inline-block">
    </div>
    <!--文章私密-->
    <div style="margin-bottom: 20px">
        <label class="radio-inline">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="" checked> 公开
        </label>
        <label class="radio-inline">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value=""> 私密
        </label>
    </div>

    <input type="submit" class="btn btn-primary" name="button" value="发布博客" />
    <button type="button" class="btn btn-warning">返回</button>
</form>
{include file='footer'}